<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
</head>
<body>
<!-- nav-bar -->
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PX7</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>

    
  </div>
</nav>

<!-- nav-bar -->



<!-- of-canvase -->




<div class="offcanvas offcanvas-start  text-white " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav" style="margin-top: 15px;">
          <li>
              <div class="text-white small fw-bold text-uppercase px-3 ">
                Student Interface
              </div>
          </li>
          <li>
              <hr class="dropdown-divider/">
          </li>
          <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              Ahmed Farrag Tantawy
            </div>
        </li>
        <li>
          <hr class="dropdown-divider/">
      </li>
      <li>
          <div class="text-white small fw-bold text-uppercase px-3 ">
            Attendance
          </div>
      </li>
          <li>
            <a href="../student interface/view_attendance.html" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span>View Attendance</span>
            </a>
          </li>
          <li>
              <hr class="dropdown-divider/">
          </li>
          <li>
              <div class="text-white small fw-bold text-uppercase px-3 ">
                Time Table
              </div>
          </li>
          <li>
            <a href="../student interface/time_table_stu.html" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span>Time Table</span>
            </a>
          </li>
          <li>
              <hr class="dropdown-divider/">
          </li>
          <li>
              <div class="text-white small fw-bold text-uppercase px-3 ">
                Chat
              </div>
          </li>
          <li>
              <a href="../student interface/messages.html" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-chat-text"></i></span>
                <span>Messages</span>
                <span class="badge text-bg-danger" id="right_icon">4</span>
              </a>
            </li>
  
        <li>
          <hr class="dropdown-divider/">
      </li>
        
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-box-arrow-right"></i></span>
            <span>Log Out</span>
          </a>
        </li>
          
  
          
  
  
          
  
        </ul>
  
      </nav>
  
    </div>
  
  
  
  
    </div>
  </div>


  <!-- of-canvase -->

  <!-- main -->

  <div class="container-fluid mt-5 pt-3" id="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12  fw-bold fs-3">Feedback</div>
      </div>
    </div>
    <div class="container-sm" id="cont" style="max-width: 700px; margin-top: 100px;">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-dark text-white">
              Feedback
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">submit</button>
              </div>
  
            </div>
          </div>

        </div>

        

      </div>
    </div>
  </div>

  <!-- main -->

  
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>