{% extends 'base.html' %}
{% load static %}
  <!-- of-canvase -->

  <!-- main -->

  {% block body %}
    

  
 <div class="container-fluid mt-5 pt-3" id="main">
    <div class="container-fluid" id="cont">
      <div class="row">
        <div class="col-lg-12">
         
        <!-- تكرار على المستويات والمواد -->
{% for level, subjects in subjects_by_level.items %}
<div class="card shadow">
  <h5 class="card-header bg-dark text-white">{{ level.lname }}</h5>
  <div class="card-body">
    <div class="row">
      {% for subject in subjects %}
      {% if subject.id %}

        <div class="col-lg-3">
          <div class="card" id="cont">
            <!-- استبدل بصورة المادة إذا كان لديك حقل للصورة في نموذج Subject -->
            
            {% if subject.image %}
              <img src="{{ subject.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'image/wallpaperflare.com_wallpaper(4).jpg' %}" class="card-img-top" alt="...">
            {% endif %}
              
            <div class="card-body">
              <h5 class="card-title">{{ subject.sname }}</h5>
              <!-- استبدل بوصف المادة إذا كان لديك حقل للوصف -->
              <p class="card-text">Description here</p>
              <a href="{% url 'lec_attendance' subject.id %}" class="btn btn-primary">Take Attendance</a>            
              </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
        
{% endblock body %}       
        
        
        
        
      

  

