{% extends 'base.html' %}

{% block body %}
    

    






  <div class="container-fluid mt-5 pt-3" id="main">


    <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12  fw-bold fs-3">Lectures</div>
          </div>
        </div>
        <table class="table table-striped table-hover text-center" id="table">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Subject</th>
              
                {% comment %} {% for date in dates_list %} {% endcomment %}
                <th  scope="col">lec 1</th>
                <th scope="col">lec 2</th>
                <th scope="col">lec 3</th>
                <th scope="col">lec 4</th>
                <th scope="col">lec 5</th>
                <th scope="col">lec 6</th>
                <th scope="col">lec 7</th>
                <th scope="col">lec 8</th>
                <th scope="col">lec 9</th>
                <th scope="col">lec 10</th>

              {% comment %} <th scope="col">{{ date|date:"m-d" }}</th>  {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
                
             
             
              {% comment %} <th scope="col">sum</th> {% endcomment %}
            </tr>
          </thead>
          <tbody>
           
            {% for record in attendance_records %}
            <tr>
                <th scope="row">{{ record.subject }}</th>
                {% for attendance in record.records %}
                    <td id="{{ attendance.status|yesno:'true,false' }}"><i class="bi bi-{{ attendance.status|yesno:'check2,x' }}"></i></td>
                {% endfor %}
                {% comment %} <th scope="row">{{ record.present_count }}/{{ record.total }}</th> {% endcomment %}
            </tr>
        {% endfor %}
           
          </tbody>
        </table>
        
      </div>

</div>
    
{% endblock body %}