<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BST</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.11.3/font/bootstrap-icons.css' %}">
</head>
<body>
<!-- nav-bar -->
<nav class="navbar navbar-expand-lg navbar-white  bg-white text-dark fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" style="font-size: 30x; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"href="/">BST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>

    
   
  </div>
</nav>

<!-- nav-bar -->



<!-- of-canvase -->

{% if  user.is_authenticated %}


<div class="offcanvas offcanvas-start  text-white " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  
  <div class="offcanvas-body p-0" style="background-color: #343A40;">
    <nav class="navbar-dark">

      <ul class="navbar-nav" style="margin-top: 15px;">
        <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              {% if request.user.is_doctor %}
                Doctor Interface
              {% elif  request.user.is_student %}

                Student Interface
                
               {%else%}
                Admin Interface
              {% endif %}
            </div>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        <li>
          <div class="text-white small fw-bold text-uppercase px-3 ">
            {% if request.user.is_doctor %}

            {{request.user.doctor_user.name}}
            {% else %}
            {{request.user.student_user.name}}
            {% endif %}


          </div>
      </li>
      <li>
        <hr class="dropdown-divider/">
    </li>
    <li>
        <div class="text-white small fw-bold text-uppercase px-3 ">
          Attendance
        </div>
    </li>
        <li>
          <a href="{% if request.user.is_student %}/view_attendance {% else %}/subjects {% endif %}" class="nav-link px-3 active">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Subjects</span>
          </a>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              Time Table
            </div>
        </li>
        <li>
          <a href="/time_table" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Time Table</span>
          </a>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        {% if request.user.is_doctor %}
        {% else %}
        <li>
          <div class="text-white small fw-bold text-uppercase px-3 ">
            Feedback
          </div>
      </li>
      <li>
        <a href="/accounts/feedback/view" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-chat-text"></i></span>
          <span>Feedbacks</span>
          <!-- <span class="badge text-bg-danger" id="right_icon">4</span> -->
        </a>
      </li>
      
      <li>
        <hr class="dropdown-divider/">
    </li>
      {% endif %}
       
      

      
      <li>
        <a href="{% url 'logout' %}" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-box-arrow-right"></i></span>
          <span>Log Out</span>
        </a>
      </li>
        

        


        
      </ul>

    </nav>

  </div>


  {% endif %}


  </div>
</div>


{% block body %}
    
{% endblock body %}
{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>


</html>