<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
</head>
<body>
<!-- nav-bar -->
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PX7</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>

    
   
  </div>
</nav>

<!-- nav-bar -->



<!-- of-canvase -->



<div class="offcanvas offcanvas-start  text-white " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav" style="margin-top: 15px;">
        <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              Doctor Interface
            </div>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        <li>
          <div class="text-white small fw-bold px-3 ">
            Dr.Adel Ezzat Bhader
          </div>
      </li>
      <li>
        <hr class="dropdown-divider/">
    </li>
    <li>
        <div class="text-white small fw-bold text-uppercase px-3 ">
          Attendance
        </div>
    </li>
        <li>
          <a href="" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Lectures Attendance</span>
          </a>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              Time Table
            </div>
        </li>
        <li>
          <a href="" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Time Table</span>
          </a>
        </li>
        <li>
            <hr class="dropdown-divider/">
        </li>
        <li>
            <div class="text-white small fw-bold text-uppercase px-3 ">
              Chat
            </div>
        </li>
        <li>
              <a href="" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-chat-text"></i></span>
              <span>Messages</span>
              <span class="badge text-bg-danger" id="right_icon">4</span>
            </a>
          </li>

      <li>
        <hr class="dropdown-divider/">
    </li>
      
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-box-arrow-right"></i></span>
          <span>Log Out</span>
        </a>
      </li>
        

        


        

      </ul>

    </nav>

  </div>




  
  </div>
</div>


  <!-- of-canvase -->

  <div >
    <h1 style="font-size: 90px;
    color:black;
    text-align: center;
    margin-top: 347px;
    margin-left: 248px;">Attendance System</h1>
  </div>


   


  <script src="../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>