{% extends 'base.html' %}

{% block body %}


<div class="container-fluid mt-5 pt-3" id="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12  fw-bold fs-3">Time Table</div>
      </div>
    </div>
    <div class="container-fluid" id="cont">
      <div class="row">
        <div class="col-md-12">
          {% if timetable_image %}

          <div class="card text-bg-dark">
            <img src="{{ timetable_image.url }}" class="card-img" alt="...">
          </div>
          {% else %}
          <p>No timetable available.</p>
      {% endif %}
        </div>
      </div>
    </div>
  </div>






{% endblock body%}